<div class="row">
  <div class="col-4">
    <%= form_with url: root_path do |f| %>
      <%= f.text_field :query, class: "form_control", "data-controller": :search %>
    <% end %>
  </div>

  <div class="col-8">
  </div>
</div>
